{% extends 'base.html' %}
{% load static %}

{% block title %}문의 상세보기{% endblock %}

{% block extra_script %}
<link rel="stylesheet" href="{% static 'css/board_detail.css' %}">
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <div class="contact-container">
        <div class="board-container">
            <a href="{% url 'support_board_list' %}" class="back-arrow">← 뒤로가기</a>

            <h1 class="post-title">문의 제목 : {{ post.title }}</h1>
            <p><strong>작성자 :</strong> {{ post.user.username }}</p>
            <div class="user-post-box">
                <p><strong>문의 내용</strong>
                    <hr><br>{{ post.message }}
                </p>
            </div>
            {% if reply %}
            <h3 class="admin-reply-title">📩 관리자 답변</h3>
            <p class="admin-reply-text">{{ reply.reply_text }}</p>
            <small class="admin-reply-meta">{{ reply.responder.username }} · {{ reply.replied_at|date:"Y-m-d H:i" }}</small>
            {% else %}
            <p><em>아직 답변이 등록되지 않았습니다.</em></p>
            {% endif %}
            {% if user.is_staff %}
            <form action="{% url 'support_board_reply' post.pk %}" method="get">
                <button type="sub" class="ans-button">🛠️ 답변 작성</button>
            </form>
            {% endif %}
            {% if request.user == post.user %}
            <form action="{% url 'support_board_update' post.pk %}" method="get">
                <button type="sub" class="sub-button">✏️ 수정하기</button>
            </form>
            <form action="{% url 'support_board_delete' post.pk %}" method="get">
                <button type="sub" class="sub-button">🗑 삭제하기</button>
            </form>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
