{% extends 'base.html' %}
{% load static %}

{% block title %}게시글 삭제 확인{% endblock %}

{% block extra_script %}
<link rel="stylesheet" href="{% static 'css/board_delete_confirm.css' %}">
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}

{% block content %}
<div class="contact-container">
    <div class="board-container">
        <h2>정말 삭제하시겠습니까?</h2>
        <div class="user-post-box">
            <p><strong>제목 : {{ post.title }}</strong></p>
            <p>내용 : {{ post.message }}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button type="sub" class="sub-button"><i class="fa-solid fa-trash-can"></i> 삭제</button>
            <a href="{% url 'support_board_detail' post.pk %}" class="sub-button"><i
                    class="fa-solid fa-arrow-rotate-left"></i> 돌아가기</a>
        </form>
    </div>
</div>
{% endblock %}