{% extends 'base.html' %}
{% load static %}

{% block title %}Search results{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">

{% endblock %}

{% block content %}

<div class="info-container">
  <div class="search-bar">
    <div class="input-wrapper">
      <input type="text" id="searchInput" placeholder="Search on YouTube"
        onkeypress="if(event.key==='Enter'){redirectSearch();}" autocomplete="off">
      <button id="micBtn"><i class="fas fa-microphone"></i></button>
      <button id="stopBtn" style="display: none;"><i class="fas fa-stop"></i></button>
      <div id="suggestions"></div>
    </div>
    <button class="search-btn"><i class="fa-brands fa-youtube"></i></button>
  </div>
  <div class="info-box">
    <!-- 왼쪽 가사 영역 -->
    <div id="infoSection">
      <div class="video-wrapper">
        <iframe id="youtubePlayer" allowfullscreen></iframe>
      </div>

      <div class="album-info">
        <div class="album-cover">
          <img id="albumCover" src="" alt="Album cover">
        </div>
        <div class="song-info">
          <div class="info-title">
            <h2><i class="fa-duotone fa-solid fa-record-vinyl"></i>  곡 정보 </h2>
          </div>
          <div id="infoContent">Loading information...</div>
        </div>
      </div>
    </div>

    <!-- 오른쪽 정보 영역 -->
    <div id="lyricsSection">
      <h2><i class="xi-paper"></i> 가사</h2>
      <div class="translation-buttons">
        <button onclick="translateLyrics('original')">원본</button>
        <button onclick="translateLyrics('ko')">한국어</button>
        <button onclick="translateLyrics('en')">영어</button>
        <button onclick="translateLyrics('ja')">일본어</button>
        <button onclick="translateLyrics('zh')">중국어</button>
      </div>
      <div id="lyricsContent"><i class="xi-spinner-3 xi-spin"></i> Loading lyrics...</div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/lyrics_info.js' %}"></script>
<script>const API_KEY = "{{ youtube_api_key }}";</script>
<script>
  const SONG_TITLE = "{{ title|escapejs }}";
  const SONG_ARTIST = "{{ artist|escapejs }}";
</script>
{% endblock %}