.analyze-container {
  height: 100vh;
}

.lyrics-form-wrapper {
  background-color: #000000;
  color: #ffffff;
  padding: 40px;
  width: 50%;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.lyrics-form-wrapper h1 {
  background: linear-gradient(45deg, yellow, #9d5d18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 50px;
}

.lyrics-form-wrapper input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.lyrics-form-wrapper button {
  position: relative;
  display: inline-block;
  color: white;
  background: transparent;
  border: none;
  border-radius: 6px;
  height: 44px;
  padding: 0 16px;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  text-align: center;
  line-height: 25px; /* 버튼 높이에 맞춰서 텍스트 수직 정렬 */
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 40px 0;
  width: 50%;
}

/* 효과: 노란색 → 브라운 그라디언트 */
.lyrics-form-wrapper button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background: linear-gradient(45deg, yellow, #9d5d18);
  z-index: -1;
  transform: skewX(45deg);
  transition: width 0.5s;
}

/* hover 시 배경 그라디언트 효과 */
.lyrics-form-wrapper button:hover::before {
  width: 200%;
}

/* hover 시 글자 색상도 변경 */
.lyrics-form-wrapper button:hover {
  color: #fff !important;
}


#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


/* ✅ 로딩 텍스트 */
#loadingText {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

#loadingText i {
  font-size: 4vw;
}