{% extends 'base.html' %}
{% load static %}

{% block title %}Find Username{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/find_username.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-form">
    <form method="POST">
      <h1>FIND USERNAME</h1>
        {% csrf_token %}

        <label for="username">ID</label>
        <input type="text" name="username" id="username" required>

        <!-- 전화번호 입력 -->
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" placeholder="010-0000-0000" required>

        <!-- 이메일 입력 -->
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="example@example.com" required>

        <!-- 이메일 인증번호 입력줄 -->
        <div class="inline-input-row">
          <input type="text" name="email_code" id="email-code-input" placeholder="Enter verification code" maxlength="6" required>
          <button type="button" id="send-code-btn">Send</button>
        </div>

        <!-- 이메일 인증 메시지 -->
        <span id="email-verify-msg" class="check-msg"></span>

        {% if messages %}
          {% for message in messages %}
            <p class="error-msg">{{ message }}</p>
          {% endfor %}
        {% endif %}

        <!-- 찾기 버튼 -->
        <button class="sign font_color" type="submit">Find Username</button>
      </form>
      <span>
          Did you remember your ID?
          <a class="btn-glitch" href="{% url 'login' %}" style="color: rgba(167, 167, 156, 0.897)">Sign in</a>
        </span>
{% endblock %}
{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/find_username.js' %}"></script>
{% endblock %}