{% extends 'base.html' %}
{% load static %}

{% block title %}분석 입력 | AI 뮤직 분석기{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'CSS/analyze_input.css' %}">
{% endblock %}

{% block content %}

<div id="loadingOverlay">
  <p id="loadingText"><i class="xi-spinner-3 xi-spin"></i><br><br>가사 로딩 중...</p>
</div>


<div class="analyze-container">
  <div class="lyrics-form-wrapper">
    <h1>Heard the mood?</h1>

    <form method="POST" action="{% url 'analyze' %}" id="analyzeForm">
      {% csrf_token %}
      <input type="text" class="input-title" name="title" placeholder="Enter song title" required>
      <input type="text" class="input-artist" name="artist" placeholder="Enter artist name" required>
      <button type="submit">Analyze</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
<script defer src="{% static 'JS/analyze_input.js' %}"></script>
{% endblock %}