{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Quiz_song</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

  <div class="quiz-container" data-answer="{{ quiz_song.title|escapejs|lower }}"
    data-lyrics="{{ quiz_song.lylics|slice:':90' }}...">

    {% if quiz_song %}
    <h3 class="quiz-title">Guess the song TITLE</h3>

    <p id="lyricSnippet" class="quiz-snippet">
      <!-- 용환 수정 -->
      <span class="game-cover" id="gameCover" onclick="startGame()">
        <i class="xi-gamepad"></i>&nbsp;Game Start
      </span>
      <!--  -->

    </p>

    <div class="form-row">
      <input type="text" id="answerInput" placeholder="Enter the title of the song" autocomplete="off">
      <button id="retryButton">New Question</button>
      <button id="submitAnswer">Submit</button>
    </div>

    <button id="retryButton" style="display:none; margin-top:10px;">New Question</button>
    {% else %}
    <p class="quiz-empty">No quiz data available.

</p>
    {% endif %}

  </div>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>


