{% extends 'base.html' %}
{% load static %}
{% block title %}Recommend{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recommend.css' %}">



<div class="recommend-container">
    <div id="loadingOverlay">
      <p id="loadingText"><i class="xi-spinner-3 xi-spin"></i><br><br>추천 고민 중..</p>
    </div>
    <h1 class="recommend-title">
        <i class="fa-solid fa-music icon-music"></i>
        What are you listening to?
    </h1>
    <form method="get" action="/recommend/" class="recommend-form" id="recommendForm">
        <div class="input-wrapper">
            <input type="text" name="q" id="prompt-input" placeholder="Song title - Artist" required>
            <button type="button" id="mic-btn" title="음성인식 시작">
                <i class="fa-solid fa-microphone mic-icon"></i>
            </button>
        </div>
        <select name="count" class="select-count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>s
        <button type="submit" class="submit-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/recommendations.js' %}"></script>
{% endblock %}